.requestWrapper {
    border: 1px solid #ddd;
}
.userImage span {
    font-size: 18px;
}
.userContentWrapper span a {
    color: blue;
}
button.printButton {
    background: #4caf50;
}
.mainWrapper {
    overflow: scroll;
    height: 711px;
}
.mainWrapper::-webkit-scrollbar{
	width:4px;
}
.roomContentWrapper {
    border-top: 10px solid #f01484;
}
.requestWrapper {
    border: 1px solid #ddd;
    border-top: 15px solid #f01484;
}
.card.shadow.posterWrapper {
    border-top: 15px solid #f01484;
    margin-bottom: 25px;
}
.targetuserImage {
    width: 246px;
    margin: auto;
}
.targetuserImage img {
    width: 246px;
}