.requestWrapper {
    border: 1px solid #ddd;
}
.userImage span {
    font-size: 18px;
}
.userContentWrapper span a {
    color: blue;
}
button.printButton {
    background: #4caf50;
    color:white;
}
.mainWrapper {
    overflow: scroll;
    height: 711px;
}
.mainWrapper::-webkit-scrollbar{
	width:4px;
}
.roomContentWrapper {
    border-top: 10px solid #228B22;
}
.requestWrapper {
    border: 1px solid #ddd;
    border-top: 15px solid #228B22;
}
.card.shadow.posterWrapper {
    border-top: 15px solid #228B22;
    margin-bottom: 25px;
}
.targetuserImage {
    width: 246px;
    margin: auto;
}
.targetuserImage img {
    width: 246px;
    height: 240px;
}
.userContentWrapper p span {font-size: 15px;}

.roomContentWrapper p span {
    font-size: 14px;
}
.targetuserImage button {
    background: #4caf50 !important;
}