footer {
    background: #192132;
    color: darkgray;
    padding: 41px 0px;
    margin-top:36px
}
.footerImage{
    width: 140px;
}
input.footerInput {
    padding: 7px 0px;
    border-radius: 6px;
    margin-right: 2px;
}
p.footerLink svg {
    color: white;
    border-radius: 8px;
}
button.btn.hvr-sweep-to-right {
    background: none #f01484 !important;
    color: #ffffff !important;
    fill: #ffffff !important;
    border: none !important;
    text-decoration: none !important;
    outline: 0;
    box-shadow: -1px 6px 19px rgba(240,20,132,0.2) !important;
    border-radius: 4px !important;
    padding: 6px 13px;
}
p span {
    font-size: 20px;
}