span.loveListName {
    font-weight: 500;
    font-size: 18px;
    margin-left: 20px;
}
.details {
    margin-top: 5px;
    padding: 0px 7px;
}
.allDataWrapper {
    overflow: scroll;
    height: 505px;
}
.allDataWrapper::-webkit-scrollbar{
	width:4px;
}