
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 25px 0px;
    border-bottom: 2px solid #dddddde0;
    box-shadow: 0px -2px 28px 0px black;
}
a.navbarLogo img {
    width: 140px;
}
nav.animated.fadeInDown.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: #800080!important;
}
nav.animated.fadeInDown.fixed-top.navbar-with-zindex.navbar.navbar-expand-lg.navbar-light.bg-light a {
    color: #FFFFFF;
}

input.me-2.form-control {
    border: 1px solid #0dcaf0;
}
span.singleMsz {
    cursor: pointer;
    color: blue;
}
.navbar-with-zindex {
    z-index: 99999;
}
.modallogin-with-zindex {
    z-index: 9999999;
}
  
.modalReg-with-zindex {
    z-index: 99999999;
}

a.navBarLogin.nav-link {
    font-size: 20px;
    font-weight: 300;
}
.counterCircle {
    background: #800080;
    color: white;
    width: 25px;
    text-align: center;
    border-radius: 100%;
}

  
  