.card.singlePosterTextWrapper {
    margin-top: 150px;
    margin-bottom: 20px;
}

.product-image-viewer img {
    border: 5px solid #f5f5f5;
    border-radius: 10px;
}

.pnlm-container {
    border: 5px solid #f5f5f5;
    border-radius: 10px;
}

.product-image-viewer {
    display: flex;
    flex-direction: column;
  }
  
  .main-image-viewer {
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
  }
  
  .small-image-viewers img {
    width: 80px;
    height: 80px;
    cursor: pointer;
  }



  /* commentBox and Button */
  .comment-input-box {
    display: flex;
    flex-direction: column;
  }
  
  .comment-input {
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    resize: vertical;
  }
  
  .comment-submit-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .comment-submit-button:hover {
    background-color: #45a049;
  }
  



  /* message layout */
  .messenger-message {
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .sender {
    font-weight: bold;
  }
  
  .timestamp {
    color: gray;
    font-size: 0.8rem;
  }
  
  .message-content {
    font-size: 1rem;
  }

  .facebook {
      color: #3b5998;
      cursor: pointer;
  }

  .instagram {
      color: #d62976;
  }

  .twiter {
      color: #00acee;
      cursor: pointer;
  }

  .messenger {
      color: #0084FF;
      cursor: pointer;
  }

  .shareWrapper svg {
    border: 1px solid #f01484;
    width: 46px;
    padding: 7px;
    height: 36px;
    border-radius: 10px;
}

  /* share */

  .shareWrapper h3 {
      padding: 8px 50px 0px 0px;
  }

  .shareWrapper.d-flex svg {
      cursor: pointer;
  }

  .shareWrapper.d-flex.mt-5 {
    width: 262px;
    margin: auto;
}

.addressInfo p span {
  font-size: 14px;
}

.features p span {
  font-size: 14px;
}

