.card.singlePosterTextWrapper {
    margin-top: 150px;
    margin-bottom: 20px;
}

.product-image-viewer img {
    border: 3px solid chocolate;
    border-radius: 10px;
}

.pnlm-container {
    border: 3px solid chocolate;
    border-radius: 10px;
}



.product-image-viewer {
    display: flex;
    flex-direction: column;
  }
  
  .main-image-viewer {
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
  }
  
  /* .main-image-viewer img {
    width: 100%;
    height: 100%;
  } */
  
  .small-image-viewers {
    display: flex;
  }
  
  .small-image-viewers img {
    width: 80px;
    height: 80px;
    /* margin: 0 10px; */
    cursor: pointer;
  }
  